* {
	font-family: "Open Sans";
	margin: 0;
	overflow: hidden;
	text-align: center;
}

#app {
	margin-top: 50px
}

header#title {
	position: absolute;
	top: 2.6rem;
	width: 100%
}

header h1 {
	line-height: 2.5rem;
	background: #1cc1c4;
	color: #fff;
	padding: 0 1rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 300
}
#navigator {
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
	font-weight: bold;
	background: #ddd;
	line-height: 2rem;
	font-size: 15px
}
#navigator span{
	display: inline-block;
}
html {
	font-size: 10px
}

#visual {
	padding-top: 5px;
	height: 75px
}

p {
	font-size: 13px!important
}

input {
	display: block;
	width: 100%;
}
